<div class="navbar">
  <!-- โลโก้ -->
  <div class="logo">
    <img src="../../assets/logogo.png" alt="logo" />
    <div class="logo-text">
      <span class="title">Game Shop</span>
      <span class="subtitle" *ngIf="isLoggedIn">{{ role | uppercase }}</span>
    </div>
  </div>

  <!-- เมนูกลาง -->
  <div class="menu-center" *ngIf="isLoggedIn">
    <a routerLink="/home" routerLinkActive="active" class="btn-nav">
      <img src="../../assets/shop.svg" alt="Shop" /> ร้านค้า
    </a>
    <a routerLink="/inventory" routerLinkActive="active" class="btn-nav">
      <img src="../../assets/inven.svg" alt="Inventory" /> คลังเกม
    </a>
    <a routerLink="/cart" routerLinkActive="active" class="btn-nav">
      <img src="../../assets/ตะกร้า.svg" alt="Cart" /> ตะกร้า
    </a>
    <a routerLink="/profile" routerLinkActive="active" class="btn-nav">
      <img src="../../assets/profile.svg" alt="Profile" /> โปรไฟล์
    </a>
    <a *ngIf="role==='admin'" routerLink="/dashboard" routerLinkActive="active" class="btn-nav" style="color:red;">
      Dashboard
    </a>
  </div>

  <!-- Wallet + Logout -->
<div class="menu-right" *ngIf="isLoggedIn">
  <div class="wallet-box">
    <img src="../../assets/wallet.svg" alt="Wallet" />
    <span>{{ user.walletBalance || 0 | number:'1.2-2' }} ฿</span>
  </div>

  <button class="btn-logout" (click)="logout()">
    <img src="../../assets/logout.svg" alt="logout" /> ออกจากระบบ
  </button>
</div>

  <!-- ยังไม่ล็อกอิน -->
  <div class="menu-right" *ngIf="!isLoggedIn">
    <a class="regis" routerLink="/register">สมัครสมาชิก</a>
    <button class="btn-login" routerLink="/login">เข้าสู่ระบบ</button>
  </div>
</div>
