/* กล่อง Login ให้อยู่กลางจอ */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* เต็มหน้าจอ */
  color: white;
}

/* หัวข้อ */
.login-container h3 {
  font-family: 'Jura';
  margin-right: 210px;
  margin-bottom: 20px;
  font-size: 40px;
  letter-spacing: 6px;
}

/* ช่องกรอก */
.login-container input {
  width: 250px;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

/* ปุ่ม */
.login-btn {
  margin-top: 15px;
  padding: 8px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.2s;
}

.login-btn:hover {
  background: #ddd;
}
.no-account {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: white; /* สีตัวอักษรหลัก */

  span {
    color: white;
  }

  .register-link {
    color: #9333ea; /* สีม่วงแบบใน Figma */
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
  }

  .register-link:hover {
    text-decoration: underline;
    color: #b855ff; /* สีม่วงอ่อนตอน hover */
  }
}