<div class="register-page">
  <div class="register-container">
    <div class="register-card">
      <h1 class="register-title">Register</h1>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-layout" novalidate>
<label class="profile-upload">
  <img [src]="previewUrl || '../../assets/icon_upload.svg'" alt="Profile Image" class="profile-img">
  <input type="file" (change)="onFileChange($event)" hidden>
</label>

        <input type="text" placeholder="Name" formControlName="name">
        <div class="error" *ngIf="f['name'].touched && f['name'].invalid">กรุณากรอกชื่อ</div>

        <!-- Email -->
        <input type="email" placeholder="example@gmail.com" formControlName="email">
        <div class="error" *ngIf="f['email'].touched && f['email'].invalid">
          {{ f['email'].errors?.['required'] ? 'กรุณากรอกอีเมล' : 'อีเมลไม่ถูกต้อง' }}
        </div>

        <!-- Password -->
        <input type="password" placeholder="Password" formControlName="password">
        <div class="error" *ngIf="f['password'].touched && f['password'].invalid">
          {{ f['password'].errors?.['required'] ? 'กรุณากรอกรหัสผ่าน' : 'รหัสผ่านต้องอย่างน้อย 6 ตัว' }}
        </div>

        <!-- Confirm Password -->
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        <div class="error" *ngIf="f['confirmPassword'].touched && registerForm.errors?.['passwordMismatch']">
          รหัสผ่านไม่ตรงกัน
        </div>



        <!-- Submit Button -->
         
        <button type="submit" class="register-btn" [disabled]="registerForm.invalid">
          สมัครสมาชิก
        </button>
      </form>
    </div>
  </div>
</div>
